<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_campinity_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_campinity_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Campinity"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".data.remote.service.FirebaseService"
            android:exported="false"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.android.ticco.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/KAKAO_APP_KEY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.community.CommunityActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="COMMUNITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.community.note.CommunityNoteActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.community.campsite.CommunityCampsiteDialogActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.community.campsite.CommunityHelpNoteActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.chatting.ChattingRoomActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.community.campsite.ReceiveHelpNoteActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="RECEIVE_HELP_NOTE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.chatting.ChattingListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="CHATTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/KAKAO_NATIVE_APP_KEY" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
    </application>
</manifest>